.title1{
    font-family: 'Vujahday Script', cursive;
    font-size: 5rem;
    color: #3700B3;
    
}
.title2{
    font-family: 'Permanent Marker', cursive;
    font-size: 5rem;
    color: #F50057;
}



