.cgpa{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif,"cursive";
    font-size: 5rem;
    font-style: italic,cu;
    color: #259b24;
    
}
.comments{
    font-family: 'Vujahday Script', cursive;
    font-size: 5rem;
    color: #880E4F;
}
