.cgpa{
    font-family: 'Vujahday Script', cursive;
    font-size: 400%;
    font-style: italic,cu;
    color: #259b24;
    
}
.comments{
    font-family: 'Vujahday Script', cursive;
    font-size: 300%;
    color: #880E4F;
    color:tomato
}
